﻿<!DOCTYPE html>
<html>
<head>
    <title>Solar Station Data Viewer</title>
	<link rel="stylesheet" href="./Content/bootstrap.min.css" />
	<link rel="stylesheet" href="./Content/bootstrap-reboot.min.css" />
	<link rel="stylesheet" href="./Content/bootstrap-datepicker3.min.css" />
    <style type="text/css">
		canvas {
			-moz-user-select: none;
			-webkit-user-select: none;
			-ms-user-select: none;
		}

        .container2 {
            background-color: #CCCCCC;
            border: thick solid #000000;
            padding: 5px;
            margin: 0px;
        }

		.section {
			opacity: 0.75;
			padding: 5px;
		}
		.section h1 {
			color: black;
			font-size: 20px;
			font-weight: bolder;
			margin-left: 0px;
			margin-right: 0px;
			margin-top: 5px;
			margin-bottom: 5px;
			padding: 0px;
		}
    </style>
</head>
<body>
    <div class="container-fluid container2" ng-app="mainApp" ng-controller="mainController">
		<!-- Graphs -->
		<div class="section">
			<h1>Graphs</h1>
			<div class="alert alert-success" role="alert">
				Attention, la récupération des données peu prendre une éternité + ou - 1/4
			</div>
			<div class="alert alert-danger" role="alert" ng-show="false">
			  This is a danger alert—check it out!
			</div>


			<div>
				<!-- Start Date -->
				<label for="datepickerStartDate">Start Date:
					<div class="input-group date" data-provide="datepicker" id="datepickerStartDate">
						<input type="text" class="form-control">
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-th"></span>
						</div>
					</div>
				</label>
				<!-- End Date -->
				<label for="datepickerEndDate">End Date:
					<div class="input-group date" data-provide="datepicker" id="datepickerEndDate">
						<input type="text" class="form-control">
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-th"></span>
						</div>
					</div>
				</label>

				<button type="button" class="btn btn-primary" ng-click="updateGraphBt()">OK</button>
			</div>

			<div class="chart-container" style="position: relative;">
				<canvas id="canvasLightEnergy" style="background: white;"></canvas>
				<canvas id="canvasBoxTempHumi" style="background: white;"></canvas>
				<canvas id="canvas2Days" style="background: white;"></canvas>
			</div>
		</div>

	</div>

    <!--Script references. -->
    <!--Reference the library. -->
    <script src="Scripts/jquery-3.3.1.min.js"></script>
    <!--Reference the SignalR library. -->
    <script src="Scripts/jquery.signalR-2.4.0.min.js"></script>

    <script src="Scripts/Chart.bundle.min.js"></script>
    <script src="Scripts/jquery.cookie-1.4.1.min.js"></script>
    <script src="Scripts/angular.min.js"></script>

    <!--Reference the autogenerated SignalR hub script. -->
    <script src="signalr/hubs"></script>
    <!--Add script to update the page and send messages.-->
	<script src="Scripts/bootstrap-datepicker.min.js"></script>

    <script type="text/javascript">
		 var mainApp = angular.module("mainApp", []);

		 // Initialize controls
		 $('.datepicker').datepicker();

		 let dpStartDate = $('#datepickerStartDate');
		  dpStartDate.on('changeDate', function(ev) {
				console.log("sd", ev.date);
				dtStartDate = ev.date;
			});

		 let dpEndDate = $('#datepickerEndDate')
			.on('changeDate', function(ev) {
				console.log("ed", ev.date);
				dtEndDate = ev.date;
			});

		 // End Date
		 let dtStartDate = new Date();
		 dtStartDate.setDate(dtStartDate.getDate());

		 // End Date
		 let dtEndDate = new Date();
		 dtEndDate.setDate(dtEndDate.getDate());

		 dpStartDate.datepicker("update", dtStartDate);
		 dpEndDate.datepicker("update", dtEndDate);

		 // Init graph.
         mainApp.controller('mainController', function($scope) {
            $scope.isAuthenticated = false;

			//let canvasLightEnergy_axisBattery = null;

			// Canvas light/energy
			var ctxLightEnergy = document.getElementById('canvasLightEnergy').getContext('2d');
			window.myBar = new Chart.Line(ctxLightEnergy, {
					type: 'line',
					data: [],
					options: {
						scales: {
							yAxes: [
							{
								id: "y-axis-0",
								name: 'y-axis-0',
								type: 'linear',
								position: 'left',
								scalePositionLeft: true
							},
							{
								name: 'y-axis-1',
								id: "y-axis-1",
								type: 'linear',
								position: 'right',
								scalePositionLeft: false,
								ticks: {
									min: 0,
									max: 5
								}
							},
							{
								name: 'y-axis-2',
								id: "y-axis-2",
								type: 'linear',
								position: 'right',
								scalePositionLeft: false,
								ticks: {
									beginAtZero: true,
									min: -1,
									stepValue: 1,
									max: 3
								}
							},
							]
						},
						hoverMode: 'index',
						responsive: true,
						aspectRatio: 3,
						legend: {
							position: 'top',
						},
						title: {
							display: true,
							text: 'Energy'
						}
					}
				});

							// Canvas light/energy
			var ctxBoxTempHumi = document.getElementById('canvasBoxTempHumi').getContext('2d');
			window.myBarLightEnergy = new Chart.Line(ctxBoxTempHumi, {
					type: 'line',
					data: [],
					options: {
						scales: {
							yAxes: [
							{
								id: "y-axis-0",
								name: 'y-axis-0',
								type: 'linear',
								position: 'left',
								scalePositionLeft: true
							},
							{
								name: 'y-axis-1',
								id: "y-axis-1",
								type: 'linear',
								position: 'right',
								scalePositionLeft: false,
							},
							{
								name: 'y-axis-2',
								id: "y-axis-2",
								type: 'linear',
								position: 'right',
								scalePositionLeft: false,
							},
							{
								name: 'y-axis-3',
								id: "y-axis-3",
								type: 'linear',
								position: 'right',
								scalePositionLeft: false,
							}
							]
						},
						hoverMode: 'index',
						responsive: true,
						aspectRatio: 3,
						legend: {
							position: 'top',
						},
						title: {
							display: true,
							text: 'Environmental data'
						}
					}
				});

							// Canvas light/energy
			var ctx2Days = document.getElementById('canvas2Days').getContext('2d');
			window.myBar2Days = new Chart.Line(ctx2Days, {
					type: 'line',
					data: [],
					options: {
						scales: {
							yAxes: [
							{
								id: "y-axis-0",
								name: 'y-axis-0',
								type: 'linear',
								position: 'left',
								scalePositionLeft: true
							},
							{
								name: 'y-axis-1',
								id: "y-axis-1",
								type: 'linear',
								position: 'right',
								scalePositionLeft: false,
							},
							]
						},
						hoverMode: 'index',
						responsive: true,
						aspectRatio: 3,
						legend: {
							position: 'top',
						},
						title: {
							display: true,
							text: 'Two days graphs'
						}
					}
				});


			$(function () {
			//Set the hubs URL for the connection
				$.connection.hub.url = "signalr";


				// Declare a proxy to reference the hub.
				var mainHub = $.connection.mainHub;

				// Create a function that the hub can call to broadcast messages.
				//mainHub.client.addMessage = function (name, message) {
				mainHub.on("eventNewSensorData",
					function() {
						console.log("eventNewSensorData");
						$scope.updateGraph();
					});

				 $scope.updateGraphBt = function() {
					$scope.updateGraph();
				 };

				$scope.updateGraph = function()
				{
					// canvasLightEnergy_axisBattery
					mainHub.server.getStationStat()
						.done(stationStatData =>
						{
							console.log("getStationStat", stationStatData, myBar);

							// ticks
							// Energy chart
							myBar.chart.options.scales.yAxes[1].ticks.min = stationStatData.BatteryMinV;
							myBar.chart.options.scales.yAxes[1].ticks.max = stationStatData.BatteryMaxV;

							myBar.chart.options.scales.yAxes[0].ticks.min = stationStatData.LightMinRAW;
							myBar.chart.options.scales.yAxes[0].ticks.max = stationStatData.LightMaxRAW;

							// Environmental data chart
							myBarLightEnergy.chart.options.scales.yAxes[0].ticks.min = stationStatData.LightMinRAW;
							myBarLightEnergy.chart.options.scales.yAxes[0].ticks.max = stationStatData.LightMaxRAW;

							myBarLightEnergy.chart.options.scales.yAxes[1].ticks.min = stationStatData.ExternalTempMinC;
							myBarLightEnergy.chart.options.scales.yAxes[1].ticks.max = stationStatData.BoxTempMaxC;

							myBarLightEnergy.chart.options.scales.yAxes[2].ticks.min = stationStatData.BoxHumidityMinPERC;
							myBarLightEnergy.chart.options.scales.yAxes[2].ticks.max = stationStatData.BoxHumidityMaxPERC;

							myBarLightEnergy.chart.options.scales.yAxes[3].ticks.min = stationStatData.ExternalPressureMinPa / 1000;
							myBarLightEnergy.chart.options.scales.yAxes[3].ticks.max = stationStatData.ExternalPressureMaxPa / 1000;

							// Graph for date range
							new Promise((resolve, reject) => {
								mainHub.server.getStationData(dtStartDate, dtEndDate)
									.done(data => resolve(data))
									.fail(reject);
							}).then(data =>
							{
								console.log("data", data);

								let curryear_labels = data.Datas.map(dd => dd.Xvalue);

								let values_light = data.Datas.map(dd => dd.lightsensorRAW);
								let values_batteryV = data.Datas.map(dd => dd.batteryV);
								let values_powermodes = data.Datas.map(dd => dd.powermode);

								var barChartData = {
									labels: curryear_labels ,
									datasets: [{
										label: 'Light',
										// backgroundColor: 'red',
										yAxisID: 'y-axis-0',
										borderColor: '#E8AC41',
										borderWidth: 2,
										data: values_light
									}, {
										label: 'Battery v',
										// backgroundColor: 'lightblue',
										yAxisID: 'y-axis-1',
										borderColor: 'blue',
										borderWidth: 2,
										data: values_batteryV
									}, {
										label: 'Power mode',
										// backgroundColor: 'lightblue',
										yAxisID: 'y-axis-2',
										borderColor: 'green',
										borderWidth: 2,
										data: values_powermodes
									}]

								};

								//canvasBoxTempHumi
								window.myBar.data = barChartData;
								window.myBar.update();

								/* ======
								  Light Energy data
								   ======*/
								let values_boxtempCs = data.Datas.map(dd => dd.boxtempC);
								let values_exttempCs = data.Datas.map(dd => dd.exttempC);
								let values_boxhumidityPERCs = data.Datas.map(dd => dd.boxhumidityPERC);
								let values_extpressureKPAs = data.Datas.map(dd => dd.extpressureKPA);

								var barChartDataLightEnergy = {
									labels: curryear_labels ,
									datasets: [{
										label: 'Light',
										// backgroundColor: 'red',
										yAxisID: 'y-axis-0',
										borderColor: '#E8AC41',
										borderWidth: 2,
										data: values_light
									}, {
										label: 'Temp box (C)',
										// backgroundColor: 'lightblue',
										yAxisID: 'y-axis-1',
										borderColor: 'red',
										borderWidth: 2,
										data: values_boxtempCs
									}, {
										label: 'Temp ext. (C)',
										// backgroundColor: 'lightblue',
										yAxisID: 'y-axis-1',
										borderColor: 'brown',
										borderWidth: 2,
										data: values_exttempCs
									}, {
										label: 'Humidity (%)',
										// backgroundColor: 'lightblue',
										yAxisID: 'y-axis-2',
										borderColor: 'purple',
										borderWidth: 2,
										data: values_boxhumidityPERCs
									}, {
										label: 'Pressure (kPA)',
										// backgroundColor: 'lightblue',
										yAxisID: 'y-axis-3',
										borderColor: 'fuchsia',
										borderWidth: 2,
										data: values_extpressureKPAs
									}]

								};

								window.myBarLightEnergy.data = barChartDataLightEnergy;
								window.myBarLightEnergy.update();
							});

							// 2 days graph
							mainHub.server.getStationData2Day()
								.done(data =>
								{
									console.log("getStationData2Day", data);

									let x_labels = data.Datas.map(dd => dd.XValue);

									let valuesD0_batteryV = data.Datas.map(dd => dd.DataD0.batteryV);
									let valuesD0_lightsensorRAW = data.Datas.map(dd => dd.DataD0.lightsensorRAW);

									let valuesD1_batteryV = data.Datas.map(dd => dd.DataD1.batteryV);
									let valuesD1_lightsensorRAW = data.Datas.map(dd => dd.DataD1.lightsensorRAW);

									var barChartData2Days = {
										labels: x_labels,
										datasets: [{
											label: 'Light (' + data.DayD0Text + ")",
											// backgroundColor: 'red',
											yAxisID: 'y-axis-0',
											borderColor: 'lightgreen',
											borderWidth: 2,
											data: valuesD0_lightsensorRAW
										},
										{
											label: 'Light (' + data.DayD1Text + ")",
											// backgroundColor: 'red',
											yAxisID: 'y-axis-0',
											borderColor: 'green',
											borderWidth: 2,
											data: valuesD1_lightsensorRAW
										},
										{
											label: 'Batt (v) (' + data.DayD0Text + ")",
											// backgroundColor: 'red',
											yAxisID: 'y-axis-1',
											borderColor: 'lightblue',
											borderWidth: 2,
											data: valuesD0_batteryV
										},
										{
											label: 'Batt (v) (' + data.DayD1Text + ")",
											// backgroundColor: 'red',
											yAxisID: 'y-axis-1',
											borderColor: 'blue',
											borderWidth: 2,
											data: valuesD1_batteryV
										}]

									};

									window.myBar2Days.data = barChartData2Days;
									window.myBar2Days.update();
								});

						});

				};

				// Start the connection.
				$.connection.hub.start().done(function () {
					$scope.updateGraph();
				});
			});
        });
    </script>
</body>
</html>